.cajita{
width: 90%;
height: 100px;
background-color: yellow;
margin-left: 5%;
margin-right: 5%;
text-align: center;
padding: 5px;
}
.cajita p{ /*heredacion*/

font-weight: bold; /*color de letra*/

font-size: 20px; /*tamaño de letra*/

}

.nav_menu .lis{

display: inline-block;/*muestra la lista en una sola linea*/
padding-left: 70px;
padding-right: 70px;
background-color: red;
padding-top: 5px; /**espaciado interno hacia arriba*/
padding-bottom: 5px;/*espaciado interno hacia abajo*/
}
.nav_menu ul{
	margin-left: 38px;
	margin-top: 5px;
}
.lis li{
list-style-type: none;
display: none;
}